html,
body,
#root {
    height: 100%;
    margin: 0;
}
.grid-container {
    height: 400px;
    width: 700px;
    display: grid;
    position: left;
    gap: 20px;
    grid-template-rows: auto 200px auto;
    grid-template-columns: auto auto;
}
.grid-container div {
    background-color: #daa520;
}
